body{
    background-color: rgb(197, 197, 197);
    color:rgb(49, 49, 49);
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

a{
    width: fit-content;
    text-decoration: none;
    color:rgb(46, 116, 182);
}

a:visited{
    color:rgb(46, 116, 182);
}
a:hover{
    background-color:rgb(151, 193, 233);
}
