.header-wrapper{
    display:  flex;
    justify-content: space-around;
    align-items: center;

    height: fit-content;
    border: 5px solid black;
}

.header-wrapper > div{
    padding: 20px;
}

.header-wrapper > .links{
    padding: 10px;
} 

.mc-logo > img{
    width: 100%;
}

